@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&family=Single+Day&display=swap');

html{
    background-color:#272727;
}

body {
    font-family:'Single Day', serif;
    background-color:#211f1f;
    max-width:960px;
    width:90%;
    margin:auto;
    padding:1%;
}

h1.page-header{
    font-family: 'Rubik Beastly', system-ui;
    width:80%;
    margin:auto;
    text-align:center;
    font-size: 3em;
    text-shadow: 4px 4px 4px #6e2d2d;
}

a{
    color:#5BCEFA;
    text-decoration: none;
}

a:hover {
    color: #f5a9b8;
    background-color: whitesmoke;
    text-decoration: none;
}

/* start nav rules */
nav{
    text-align:center; /* centers the nav */
}

nav a{
    color:#f5a9b8;
    text-decoration: none;
}

nav ul {
    list-style:none; /* removes the bullets */
}
nav li
{
    display:inline-block; /* makes horizontal, but able to declare margins */
    margin:0 2%; /* margin left-right, gets smaller as necessary */
}
nav a:hover{
    text-decoration: none;
}
/* end nav rules */	


footer.page-footer{
    clear:both;
    text-align:center;
}

legend{
    font-weight: bold;
    font-size:x-large;
}